<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from www.klevermedia.co.uk/html_templates/movie_star_html/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jul 2019 10:08:04 GMT -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <link href="/css/slick.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/venobox.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/css7da4.css" rel="stylesheet">
        <link href="/css/icone91f.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/tagsinput.css">
        <!--[if IE 9]>
			<link href="css/ie9.css" rel="stylesheet">
		<![endif]-->
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script src="/js/jquery-2.2.4.min.js"></script>
        <script language="javascript" type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
        <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
        <script src="/js/jquery.tagsinput.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

        <link href='/packages/core/main.css' rel='stylesheet' />
        <link href='/packages/daygrid/main.css' rel='stylesheet' />
        <link href='/packages/timegrid/main.css' rel='stylesheet' />
        <link href='/packages/list/main.css' rel='stylesheet' />
        <script src='/packages/core/main.js'></script>
        <script src='/packages/interaction/main.js'></script>
        <script src='/packages/daygrid/main.js'></script>
        <script src='/packages/timegrid/main.js'></script>
        <script src='/packages/list/main.js'></script>

        <script src='/packages/core/locales/es.js'></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#fechaNacimiento").change(function () {  //  funcion que se ejecuta al momento que el valor de la fecha de naciemiento cambia
                    var edad = calcularEdad($("#fechaNacimiento").val());
                    $("#edad").val(edad);
                })
            });

            $(function () {
                $.validator.addMethod("soloLetras", function (value, element) {
                    return this.optional(element) || /^[a-z.\s]+$/i.test(value);
                }, "Solo letras ");

                $("#f_login").validate({
                    rules: {
                        emailForm: {
                            required: true,
                            email: true
                        },
                        claveForm: {
                            required: true
                        }
                    }
                })
            })
        </script>
    </head>


    <body>
        <div class="wrapper">
            <div class="navbar" role="navigation">
                <div class="heading">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                {{#if_eq sesion undefined}}
                                    <div class="search">
                                        <a href="#">
                                            <i data-toggle="modal" data-target="#exampleModal">Iniciar sesion</i>
                                        </a>
                                    </div>
                                    {{ else }}
                                    <div class="search">
                                        <a href="/cerrar_sesion">
                                            <i id="cerrar_sesion">Cerrar sesion</i>
                                        </a>
                                    </div>
                                    <div class="tel">
                                        <a href="/mi_perfil">
                                            <i>Bienvenido</i>
                                            <i style="color: blueviolet !important"> {{sesion.apellido}}
                                                {{sesion.nombre}} </i>
                                        </a>
                                    </div>
                                {{/if_eq}}
                                {{#if error }}
                                    <div class="tel">
                                        <div class="label label-danger" style="font-size: 18px" id="err">
                                            {{error}}
                                        </div>
                                    </div>
                                {{/if}}
                                {{#if info }}
                                    <div class="tel">
                                        <div class="label label-success" style="font-size: 18px">
                                            {{info}}
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="logo" title="Craft beer landing page">
                            <img src="/images/logo.svg" alt="Craft Beer HTML Template">
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul id="menu-primary" class="nav navbar-nav">
                            <li id="inicio">
                                <a href="/">Inicio</a>
                            </li>
                            <li class="dropdown">
                                <a href="/peliculas">Peliculas</a>
                                {{#if_eq sesion.rol 'administrador'}}
                                    <ul class="dropdown-menu">
                                        <li><a href="/peliculas/nueva">Añadir pelicula</a></li>
                                        <li><a href="/peliculas/lista">Lista de Peliculas</a></li>
                                    </ul>
                                {{/if_eq}}
                            </li>
                            {{#if_eq sesion.rol 'administrador'}}
                                <li class="dropdown">
                                    <a href="/gestionHorarios">Gestionar Horarios</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/proyeccion">Proyeccion</a></li>
                                        
                                    </ul>
                                    
                                </li>
                                <li class="dropdown">
                                    <a href="#">Salas</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/sala">Añadir salas</a></li>
                                        <li><a href="#">Ver Salas disponibles</a></li>
                                    </ul>
                                </li>
                            {{/if_eq}}
                            {{#if_eq sesion undefined}}
                                {{else}}
                                    <li class="dropdown">
                                        <a href="#">Mi Cuenta</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/mi_perfil">Mi perfil</a></li>
                                            <li><a href="#">Historial de compras</a></li>
                                        </ul>
                                    </li>
                            {{/if_eq}}
                        </ul>
                    </div>
                </div>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="exampleModalLabel">Iniciar sesion</h4>
                        </div>
                        <div class="modal-body">
                            <!-- .................................form.............................. -->
                            <form id="f_login" method="POST" action="/inicio_sesion">
                                <div class="form-group">
                                    <label>Direccion de Email</label>
                                    <input type="email" class="form-control" id="emailForm" name="correo"
                                        placeholder="Ingrese su direccion de correo">
                                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo
                                        electrónico con nadie
                                        más.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" class="form-control" id="claveForm" name="clave"
                                        placeholder="Contraseña">

                                </div>
                                <div style="text-align: center">
                                    <button type="submit" class="btn btn-success" value="submit">Ingresar</button>
                                    <span>O</span>
                                    <a href="/registrarse">Registrese</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{> (lookup . 'fragmento') }}

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>Get in touch</h6>
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Give us feedback</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h6>About Movie star</h6>
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Find us</a></li>
                                <li><a href="#">Schedule</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h6>Legal stuff</h6>
                            <ul>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Cookie policy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h6>Connect with us</h6>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> Google +</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>2017 &copy; Movie Star / <a href="https://www.klevermedia.co.uk/">Web design by Klever
                                media</a></p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/headhesive.min.js"></script>
        <script src="/js/matchHeight.min.js"></script>
        <script src="/js/modernizr.custom.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/venobox.min.js"></script>
        <script src="/js/4dfd2d448a.js"></script>
        <script src="/js/custom.js"></script>
    </body>

    <!-- Mirrored from www.klevermedia.co.uk/html_templates/movie_star_html/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jul 2019 10:09:01 GMT -->

</html>